*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../img/vxod1.png);
    background-size: cover;
    height: 100%;
}

.button1{
    background: #00457a;
    width: 550px;
    border-radius: 10px;
    height: 90px;
    margin-left: 28%;
    margin-top: 12%;
}

#voitu{
    font-size: 30px;
    padding-top: 30px;
}

.button2{
    background: #00457a;
    width: 550px;
    border-radius: 10px;
    height: 90px;
    margin-top: 50px;
    margin-left: 28%;
}

.button3{
    background: #00457a;
    width: 550px;
    border-radius: 10px;
    height: 90px;
    margin-top: 50px;
    margin-left: 28%;
}

p{
    font-size: 23px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.pip{
    padding-top: 20px;
}

a{
    color: white;
    text-decoration: none;
}