*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../img/vxod1.png);
    background-size: cover;
    height: 100%;
}

.button1{
    background: #0065B0;
    width: 550px;
    border-radius: 10px;
    height: 90px;
}

.button2{
    background: #0065B0;
    width: 550px;
    border-radius: 10px;
    height: 90px;
}

p{
    color: white;
    font-size: 40px;
    text-align: center;
}