*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../img/voitu.png);
    background-size: cover;
    height: 100%;
}

#send{
    color: #00457a;
    font-size: 45px;
    margin-top: 5%;
    margin-left: 45%;
    font-family: 'Montserrat', sans-serif;
}

.LogIn{
    background: white;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: #00457a;
    border-width: 3px;
    margin-top: 35px;
    margin-left: 27%;
}

.p{
    font-size: 35px;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

#p{
    width: 130px;
}

input{
    height: 35px;
    width: 250px;
    border-width: 2px;
    border-style: solid;
    font-size: 25px;
    border-color: white white #00457a white;
}

input:active{
    border-color: white white #033155 white;
}

.e-mail{
    display: inline-flex;
    padding-top: 65px;
    padding-left: 20px;
}

.password{
    display: inline-flex;
    padding-top: 60px;
    padding-left: 20px;
}

.send{
    background: #00457a;
    border-radius: 10px;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 35px;
    margin-top: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40%;
}

.send p{
    padding-top: 3px;
}

a{
    color: white;
    text-decoration: none;
}